*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

/*! responsive-nav.js 1.0.32 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe img {
  width: 100%;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

button {
  display: inline-block;
  margin: 0 1em;
  border: none;
  background: none;
  outline: none;
}
button span {
  display: block;
}

.lines-button {
  padding: 1rem 0.5rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.2857143rem;
  /* */
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
}

.lines {
  display: inline-block;
  width: 2rem;
  height: 0.2857143rem;
  background: #00a7b8;
  border-radius: 0.1428571rem;
  transition: 0.3s;
  position: relative;
}
.lines:before, .lines:after {
  display: inline-block;
  width: 2rem;
  height: 0.2857143rem;
  background: #00a7b8;
  border-radius: 0.1428571rem;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.1428571rem center;
  transform-origin: 0.1428571rem center;
}
.lines:before {
  top: 0.5rem;
}
.lines:after {
  top: -0.5rem;
}

.lines-button:hover .lines:before {
  top: 0.5714286rem;
}
.lines-button:hover .lines:after {
  top: -0.5714286rem;
}

.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

.lines-button.x.close .lines {
  background: transparent;
}
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 2rem;
}
.lines-button.x.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.lines-button.x2 .lines {
  transition: background .3s .5s ease;
}
.lines-button.x2 .lines:before, .lines-button.x2 .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: top .3s .6s ease, -webkit-transform .3s ease;
  transition: top .3s .6s ease, transform .3s ease;
}

.lines-button.x2.close .lines {
  transition: background .3s 0s ease;
  background: transparent;
}
.lines-button.x2.close .lines:before, .lines-button.x2.close .lines:after {
  transition: top .3s ease, -webkit-transform .3s .5s ease;
  transition: top .3s ease, transform .3s .5s ease;
  top: 0;
  width: 2rem;
}
.lines-button.x2.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x2.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
}
@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  background: white;
  color: #777777;
}

a {
  color: #00a7b8;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #007985;
}
a:not(> img) {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

.btn {
  background-color: #ffee50;
  color: black;
  display: block;
  padding: 10px 15px;
  margin: 15px 0;
  border-left: #00a7b8 5px solid;
  border-right: transparent 5px solid;
  clear: both;
}

img {
  width: 100%;
}

.is-desktop {
  display: none !important;
}
.lt-ie9 .is-desktop {
  display: block !important;
}
@media screen and (min-width: 850px) {
  .is-desktop {
    display: block !important;
  }
}

.is-mobile {
  display: block !important;
}
.lt-ie9 .is-mobile {
  display: none !important;
}
@media screen and (min-width: 850px) {
  .is-mobile {
    display: none !important;
  }
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.pagehead {
  background-color: #ffee50;
  border-bottom: solid 5px #00a7b8;
  *zoom: 1;
}
.pagehead:before, .pagehead:after {
  content: "";
  display: table;
}
.pagehead:after {
  clear: both;
}
.lt-ie9 .pagehead {
  box-shadow: 0 10px 0 #00a7b8;
  border-bottom: solid 10px white;
  height: 200px;
}
@media screen and (min-width: 850px) {
  .pagehead {
    box-shadow: 0 10px 0 #00a7b8;
    border-bottom: solid 10px white;
    height: 200px;
  }
}

.logo {
  float: left;
  width: 60%;
  max-width: 200px;
  padding-left: 10px;
  margin-bottom: -9%;
  position: relative;
  z-index: 5;
}
.lt-ie9 .logo {
  width: 33%;
  max-width: 310px;
}
@media screen and (min-width: 850px) {
  .logo {
    width: 33%;
    max-width: 310px;
  }
}

#nav-toggle {
  float: right;
  display: block;
  text-align: right;
  margin-top: -5px;
}
.lt-ie9 #nav-toggle {
  display: none;
}
@media screen and (min-width: 850px) {
  #nav-toggle {
    display: none;
  }
}

.nav-collapse {
  *zoom: 1;
  background-color: #00a7b8;
  clear: both;
  text-align: center;
  font-size: 1.25em;
}
.nav-collapse:before, .nav-collapse:after {
  content: "";
  display: table;
}
.nav-collapse:after {
  clear: both;
}
.nav-collapse ul {
  padding-top: 30px;
}
.nav-collapse ul li a {
  display: inline-block;
  width: 100%;
  padding: 10px 5px;
  color: white;
  border-left: transparent 5px solid;
  border-right: transparent 5px solid;
}
.nav-collapse ul li a:hover, .nav-collapse ul li a:active {
  background-color: #00d5eb;
  border-left-color: #ffee50;
}
.lt-ie9 .nav-collapse {
  background-color: transparent;
  float: right;
  clear: none;
  margin-top: 28px;
}
.lt-ie9 .nav-collapse ul {
  padding-top: 0;
}
.lt-ie9 .nav-collapse ul li {
  float: left;
  width: auto;
}
.lt-ie9 .nav-collapse ul li a {
  width: auto;
  color: #00a7b8;
}
.lt-ie9 .nav-collapse ul li a:hover, .lt-ie9 .nav-collapse ul li a:active {
  background-color: rgba(255, 255, 255, 0.5);
  border-left-color: transparent;
}
@media screen and (min-width: 850px) {
  .nav-collapse {
    background-color: transparent;
    float: right;
    clear: none;
    margin-top: 28px;
  }
  .nav-collapse ul {
    padding-top: 0;
  }
  .nav-collapse ul li {
    float: left;
    width: auto;
  }
  .nav-collapse ul li a {
    width: auto;
    color: #00a7b8;
  }
  .nav-collapse ul li a:hover, .nav-collapse ul li a:active {
    background-color: rgba(255, 255, 255, 0.5);
    border-left-color: transparent;
  }
}

.lt-ie9 .swipe {
  max-height: 300px;
}
@media screen and (min-width: 480px) {
  .swipe {
    max-height: 300px;
  }
}
.lt-ie9 .swipe {
  margin-top: -125px;
  border: 10px solid white;
}
@media screen and (min-width: 850px) {
  .swipe {
    margin-top: -125px;
    border: 10px solid white;
  }
}

.padded {
  padding: 4%;
}
.lt-ie9 .padded {
  padding: 0;
}
@media screen and (min-width: 850px) {
  .padded {
    padding: 0;
  }
}

.callnow {
  display: inline;
  float: left;
  width: 97.9166667%;
  margin: 0 1.0416667%;
}
.callnow h1, .callnow a {
  clear: both;
  text-align: center;
}
.callnow h1 {
  margin-top: 15px;
  margin-top: 0;
  font-size: 1.25em;
  text-transform: uppercase;
}
.lt-ie9 .callnow {
  display: none;
}
@media screen and (min-width: 850px) {
  .callnow {
    display: none;
  }
}

header .callnow {
  display: none;
}
.lt-ie9 header .callnow {
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  text-align: right;
}
.lt-ie9 header .callnow h1, .lt-ie9 header .callnow a, .lt-ie9 header .callnow span {
  font-size: 0.75em;
  display: inline;
  clear: none;
}
.lt-ie9 header .callnow h1 {
  margin: 0;
  text-transform: normal;
}
.lt-ie9 header .callnow span {
  color: black;
}
.lt-ie9 header .callnow .btn {
  background-color: transparent;
  border-left-width: 0;
  padding: 0;
}
@media screen and (min-width: 850px) {
  header .callnow {
    display: block;
    position: absolute;
    right: 0;
    top: 5px;
    text-align: right;
  }
  header .callnow h1, header .callnow a, header .callnow span {
    font-size: 0.75em;
    display: inline;
    clear: none;
  }
  header .callnow h1 {
    margin: 0;
    text-transform: normal;
  }
  header .callnow span {
    color: black;
  }
  header .callnow .btn {
    background-color: transparent;
    border-left-width: 0;
    padding: 0;
  }
}

section {
  display: inline;
  float: left;
  width: 97.9166667%;
  margin: 0 1.0416667%;
  padding: 10px 0 0;
}
.lt-ie9 section {
  display: inline;
  float: left;
  width: 47.9166667%;
  margin: 0 1.0416667%;
}
@media screen and (min-width: 850px) {
  section {
    display: inline;
    float: left;
    width: 47.9166667%;
    margin: 0 1.0416667%;
  }
}

.cta figure {
  margin-bottom: 10px;
  background-color: #00a7b8;
}
.lt-ie9 .cta figure {
  display: inline;
  float: left;
  width: 47.9166667%;
  margin: 0 1.0416667%;
}
@media screen and (min-width: 480px) {
  .cta figure {
    display: inline;
    float: left;
    width: 47.9166667%;
    margin: 0 1.0416667%;
  }
}
.lt-ie9 .cta figure:first-of-type {
  margin-left: 0;
}
@media screen and (min-width: 850px) {
  .cta figure:first-of-type {
    margin-left: 0;
  }
}
.cta figure h2 {
  font-size: 1.25em;
  padding: 8px 10px;
  color: white;
}
.cta figure img {
  border-bottom: solid 5px #ffee50;
}

.tips {
  display: inline;
  float: left;
  width: 47.9166667%;
  margin: 0 1.0416667%;
  margin-top: 20px;
  color: #00a7b8;
  display: block;
  position: relative;
}
.lt-ie9 .tips {
  display: inline;
  float: left;
  width: 22.9166667%;
  margin: 0 1.0416667%;
  margin-top: 20px;
}
@media screen and (min-width: 480px) {
  .tips {
    display: inline;
    float: left;
    width: 22.9166667%;
    margin: 0 1.0416667%;
    margin-top: 20px;
  }
}
.tips object {
  position: relative;
}
.tips span {
  font-size: 0.9375em;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.lt-ie9 .tips span {
  font-size: 0.9375em;
}
@media screen and (min-width: 850px) {
  .tips span {
    font-size: 0.9375em;
  }
}

/* The wall post items */
.facebookWall li {
  background: url("../img/divider.png") no-repeat center bottom;
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 25px;
  position: relative;
}

/* The user/page avatar */
.facebookWall li img.avatar {
  float: left;
}

/* The user/page name */
.facebookWall h2 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}

/* The .status div container */
.facebookWall .status {
  width: 420px;
  padding-left: 65px;
}

/* Link share attachment */
.facebookWall .attachment {
  border-left: 1px solid #C4C4C4;
  font-size: 12px;
  margin-top: 14px;
  overflow: hidden;
  padding-left: 10px;
}

.facebookWall .attachment-data {
  display: table-cell;
  vertical-align: top;
}

.facebookWall img.picture {
  float: left;
  margin-right: 10px;
}

.fb header {
  padding-bottom: 10px;
  margin-bottom: 14px;
  border-bottom: 1px #ccc solid;
  *zoom: 1;
}
.fb header:before, .fb header:after {
  content: "";
  display: table;
}
.fb header:after {
  clear: both;
}
.fb header h1 {
  float: left;
}
.fb .fb-like {
  float: right;
  margin-top: -2px;
}

#wall h1 {
  display: none;
}
#wall img {
  width: auto;
}

/* Posted date/time, number of likes and comments */
.facebookWall p.meta {
  color: #BBBBBB;
  font-size: 11px;
  padding: 15px 0 0 65px;
}

footer {
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 30px;
}
.lt-ie9 footer {
  text-align: center;
  margin-top: 320px;
  border-top: #ccc solid 2px;
  padding-top: 20px;
}
.lt-ie9 footer .btn {
  display: inline;
  background: transparent;
  border-left-width: 0;
  width: auto;
  text-align: left;
  padding: 0;
  color: #00a7b8;
  border-right: 2px #ccc solid;
  padding-right: 10px;
  margin-right: 5px;
}
.lt-ie9 footer address {
  padding: 0;
  display: inline;
}
.lt-ie9 footer address:before {
  content: "Address ";
  color: #999;
}
.lt-ie9 footer address span {
  display: inline;
}
@media screen and (min-width: 850px) {
  footer {
    text-align: center;
    margin-top: 320px;
    border-top: #ccc solid 2px;
    padding-top: 20px;
  }
  footer .btn {
    display: inline;
    background: transparent;
    border-left-width: 0;
    width: auto;
    text-align: left;
    padding: 0;
    color: #00a7b8;
    border-right: 2px #ccc solid;
    padding-right: 10px;
    margin-right: 5px;
  }
  footer address {
    padding: 0;
    display: inline;
  }
  footer address:before {
    content: "Address ";
    color: #999;
  }
  footer address span {
    display: inline;
  }
}

address {
  color: #00a7b8;
  padding: 10px 10%;
}
address span {
  display: block;
}

#newsletter {
  width: 100%;
  display: block;
  width: 102.0833333%;
  margin: 0 -1.0416667%;
  *zoom: 1;
}
#newsletter:before, #newsletter:after {
  content: "";
  display: table;
}
#newsletter:after {
  clear: both;
}
#newsletter h2 {
  text-indent: 5px;
  margin-bottom: 5px;
}
.lt-ie9 #newsletter {
  display: inline-block;
  width: auto;
  margin-left: 15px;
}
.lt-ie9 #newsletter h2 {
  text-align: left;
}
@media screen and (min-width: 850px) {
  #newsletter {
    display: inline-block;
    width: auto;
    margin-left: 15px;
  }
  #newsletter h2 {
    text-align: left;
  }
}

input {
  box-shadow: 0;
  background-color: #ddd;
  border: 0;
  border-radius: 0;
}
.lt-ie9 input {
  display: inline-block;
}
@media screen and (min-width: 850px) {
  input {
    display: inline-block;
  }
}

input[type="email"] {
  display: inline;
  float: left;
  width: 72.9166667%;
  margin: 0 1.0416667%;
}
input[type="email"]:focus {
  outline: 0;
  box-shadow: inset 0 0 0 2px #ffee50;
  padding-left: 1%;
}
.lt-ie9 input[type="email"]:focus {
  padding-left: 4%;
}
@media screen and (min-width: 850px) {
  input[type="email"]:focus {
    padding-left: 4%;
  }
}

input, button {
  padding: 10px;
}
.lt-ie9 input, .lt-ie9 button {
  float: none !important;
  display: inline-block;
}
@media screen and (min-width: 850px) {
  input, button {
    float: none !important;
    display: inline-block;
  }
}

button[type="submit"] {
  display: inline;
  float: left;
  width: 14.5833333%;
  margin: 0 1.0416667%;
  background-color: #00a7b8;
  color: white;
  text-align: center;
  padding-top: 13px;
}
.lt-ie9 button[type="submit"] {
  width: 60px;
}
@media screen and (min-width: 850px) {
  button[type="submit"] {
    width: 60px;
  }
}

.cert {
  margin: 20px auto 0;
  width: 95%;
}
.lt-ie9 .cert {
  width: 50%;
}
@media screen and (min-width: 850px) {
  .cert {
    width: 50%;
  }
}
.cert img {
  width: 100%;
}

/* ::Import styles */
/* ------------------------------------------------------------ */
.font-body, body {
  font-family: 'Baskerville', times, serif;
}

.font-var {
  font-family: Georgia, serif;
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

li {
  line-height: inherit;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

label, legend, select {
  display: block;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

.as-heading__headline, .is-typeset .headline {
  font-size: 2.625em;
  line-height: 1.152381em;
}

.as-heading__largest, .is-typeset h1 {
  font-size: 2em;
  line-height: 1.2375em;
}

.as-heading__large, .is-typeset h2 {
  font-size: 1.75em;
  line-height: 1.2571429em;
}

.as-heading__medium, .is-typeset h3 {
  font-size: 1.625em;
  line-height: 1.1846154em;
}

.as-heading__normal, .is-typeset h4 {
  font-size: 1.5em;
  line-height: 1.2833333em;
}

.as-heading__small, .is-typeset h5 {
  font-size: 1.25em;
  line-height: 1.32em;
}

.as-heading__smallest, .is-typeset h6 {
  font-size: 1.125em;
  line-height: 1.2222222em;
}

.as-blockquote, .as-blockquote--typeset, .is-typeset blockquote {
  font-size: 2em;
  line-height: 1.2375em;
  line-height: normal;
}
.as-blockquote p, .as-blockquote--typeset p, .is-typeset blockquote p {
  margin: 0;
  font-style: italic;
}

.as-para {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

.as-heading__headline--typeset, .is-typeset .headline {
  margin: 0 0 0.3142857em 0;
}

.as-heading__largest--typeset, .is-typeset h1 {
  margin: 0 0 0.4125em 0;
}

.as-heading__large--typeset, .is-typeset h2 {
  margin: 0 0 0.4714286em 0;
}

.as-heading__medium--typeset, .is-typeset h3 {
  margin: 0 0 0.5076923em 0;
}

.as-heading__normal--typeset, .is-typeset h4 {
  margin: 0 0 0.55em 0;
}

.as-heading__small--typeset, .is-typeset h5 {
  margin: 0 0 0.66em 0;
}

.as-heading__smallest--typeset, .is-typeset h6 {
  margin: 0 0 0.7333333em 0;
}

.as-para--typeset, .is-typeset p {
  margin: 0 0 0.5866667em 0;
}

.as-list--typeset, .as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul, .is-typeset li {
  margin: 0 0 0.5866667em 0;
}

.as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul {
  margin-left: 1em;
  list-style-position: outside;
  list-style-type: disc;
}

.as-ordered-list--typeset, .is-typeset ol {
  list-style-position: outside;
  list-style-type: decimal;
}

.as-blockquote--typeset, .is-typeset blockquote {
  margin: 0.825em 0;
}

body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

/* ::Print */
/* ------------------------------------------------------------ */
@media print {
  body {
    line-height: 0.55em;
    font-size: 62.5%;
  }
}
