// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*"; 


/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include break-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
	&:not(>img) {
		@include force-wrap;
	}
}

.btn {
	background-color: $primary;
	color: $dark;
	display: block;
	padding: 10px 15px;
	margin: 15px 0;
	border-left: $secondary 5px solid;
	border-right: transparent 5px solid;
	clear: both;
}

img {
	width: 100%;
}

.is-desktop {
	display: none !important;
	@include break($b) {
		display: block !important;
	}
}

.is-mobile {
	display: block !important;
	@include break($b) {
		display: none !important;
	}
}


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;


////////////
// LAYOUT //
////////////

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.pagehead {
	background-color: $primary;
	border-bottom: solid 5px $secondary;
	@include clearfix;
	//box-shadow: -25rem 0 0 $primary, 25rem 0 0 $primary; 
	@include break($b) {
		box-shadow: 0 10px 0 $secondary;
		border-bottom: solid 10px $light;
		height: 200px;
	}
}

.logo {
	float: left;
	width: 60%;
	max-width: 200px;
	padding-left: 10px;
	margin-bottom: -9%;
	position: relative;
	z-index: 5;
	display: block;
	object {
		width: 100%;
	}
	@include break($b) {
		width: 33%;
		max-width: 310px;
	}
}

.homelink {
	@extend .logo;
	z-index: 6;
	height: 70px;
	position: absolute;
	@include break($a) {
		height: 100px;
	}
}

#nav-toggle {
	float: right;
	display: block;
	text-align: right;
	margin-top: -5px;
	@include break($b) {
		display: none;
	}
}

.nav-collapse {
	@include clearfix;
	background-color: $secondary;
	clear: both;
	text-align: center;
	font-size: em-font(20px);
	ul {
		padding-top: 30px;
		li a {
			display: inline-block;
			width: 100%;
			padding: 10px 5px;
			color: white;
			border-left: transparent 5px solid;
			border-right: transparent 5px solid;
			&:hover, &:active {
				background-color: lighten($secondary, 10%);
				border-left-color: $primary;
			}
		}
	}
	@include break($b) {
		background-color: transparent;
		float: right;
		clear: none;
		margin-top: 28px;
		ul {
			padding-top: 0;
			li {
				float: left;
				width: auto;
				a {
					width: auto;
					color: $secondary;
					&:hover, &:active {
						background-color: transparentize($light, 0.5);
						border-left-color: transparent;
					}
				}
			}
		}
	}
}

.on-page {
	background-color: $light;
	&:hover {
		background-color: $light !important;
	}
}

.swipe {
	@include break($a) {
		max-height: 300px;
	}
	@include break($b) {
		margin-top: -125px;
		border: 10px solid $light;
	}
}

.swipe-wrap {
	max-height: 200px;
	@include break($a) {
		img {margin-top: -10%;}
	}
	@include break($b) {
		max-height: 300px;
		img {
			margin-top: -20%;
		}
	}
}

.padded {
	//@include row(12);
	padding: 4%;
	@include break($b) {
		@include clearfix;
		padding: 0;
		margin-bottom: 20px;
	}
}

.callnow {
	@extend .font-sans;
	@include column(12);
	h1, a {
		clear:both;
		text-align: center;
	}
	h1 {
		margin-top: 15px;
		margin-top: 0;
		font-size: em-font(20px);
		text-transform: uppercase;
	}
	@include break($b) {
		display: none;
	}
}

header .callnow {
	@extend .font-sans;
	display: none;
	@include break($b) {
		display: block;
		position: absolute;
		right: 0;
		top: 5px;
		text-align: right;
		h1, a, span {font-size: em-font(12px); display: inline; clear: none;}
		h1 {margin: 0; text-transform: normal;}
		span {
			color: $dark;
		}
		.btn {
			background-color: transparent;
			border-left-width: 0;
			padding: 0;
		}
	}
}

section {
	@include column(12);
	padding: 10px 0 0;
	@include break($b) {
		@include column(6);
	}
}

.cta {
	.featured {
		margin-bottom: 10px;
		display: block;
		figure {
			overflow: hidden;			
			height: 130px;
		}
		@include break($a) {
			@include column(6);
		}
		@include break($b) {
			&:first-of-type {
				margin-left: 0;
			}
		}
		h2 {
			font-size: em-font(20px);
			padding: 8px 10px;
			color: $light;
			background-color: $secondary;
			border-top: solid 5px $primary;
			width: 100%;
		}
		&:hover > h2 {
			background-color: lighten($secondary, 10%);
		}
	}
}

.tips {
	@include column(6);
	margin-top: 20px;
	@include break($a) {
		@include column(3);
		margin-top: 20px;
	}
	color: $secondary;
	display: block;
	position: relative;
	object {
		position: relative;
	}
	span {
		font-size: em-font(15px);
		@include break($b) {
		font-size: em-font(15px);			
		}
		position: absolute;
		top: 30%;
		left: 0;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
	}
	// background: url(../img/triangle.svg) no-repeat;
	// background-size: 100%;
}

/* The wall post items */

.facebookWall li{
	//background: url('../img/divider.png') no-repeat center bottom;
	list-style: none;
	margin-bottom: 20px;
	overflow: hidden;
	padding-bottom: 25px;
	position: relative;
}

/* The user/page avatar */

.facebookWall li img.avatar{
	float: left;
	margin-right: 18px;
}

/* The user/page name */

.facebookWall h2{
	font-size:16px;
	font-weight:normal;
	margin-bottom: 5px;
}

/* The .status div container */

.facebookWall .status{
	@include break($b) {
		width:420px;
		padding-left:65px;
	}
}

/* Link share attachment */

.facebookWall .attachment{
	border-left: 1px solid #C4C4C4;
	font-size: 12px;
	margin-top: 14px;
	overflow: hidden;
	padding-left: 10px;
}

.facebookWall .attachment-data{
	display:table-cell;
	vertical-align:top;
}

.facebookWall img.picture{
	float:left;
	margin-right: 10px;
}

.fb {
	margin-top: 20px;
	header {
		padding-bottom: 10px;
		margin-bottom: 14px;
		border-bottom: 1px #ccc solid;
		@include clearfix;
		h1 {
			float: left;
		}
	}
	.fb-like {
		float: right;
		margin-top: -2px;
	}
}

#wall {
	h1 {
		display: none;
	}
	img {width: auto;}
}


/* Posted date/time, number of likes and comments */

.facebookWall p.meta{
	color: #BBBBBB;
	font-size: 11px;
	padding: 15px 0 0 65px;
}

div.fb-like.fb_iframe_widget.fb_iframe_widget_fluid {
	width: auto !important;
}

footer {
	overflow-x: hidden;
	width: 100%;
	padding-bottom: 30px;
	@extend .font-sans;
	@include break($b) {
		text-align: center;
		border-top: #ccc solid 2px;
		padding-top: 20px;
		.btn {
			display: inline;
			background: transparent;
			border-left-width: 0;
			width: auto;
			text-align: left;
			padding: 0;
			color: $secondary;
			border-right: 2px #ccc solid;
			padding-right: 10px;
			margin-right: 5px;
			// &:after {
			// 	padding-left: 15px;
			// 	content: "|";
			// }
		}
		address {
			padding: 0;
			display: inline;
			&:before {
				content: "Address ";
				color: #999;
			}
			span {
				display: inline;
			}
		}
	}
}

address {
	color: $secondary;
	padding: 10px 10%;
	span {
		display: block;
	}
}

#newsletter {
	width: 100%;
	@include row(12);

	h2 {
		text-indent:5px;
		margin-bottom: 5px;
	}
	@include break($b) {
		display: inline-block;
		width: auto;
		margin-left: 15px;
		h2 {text-align: left;}
	}
	button[type="submit"] {
		@include column(2);
		@include break($b) {
			width: 50px;
		}
	}
}

input {
	box-shadow: 0;
	background-color: #ddd;
	border: 0;
	border-radius: 0;
	@include break($b) {
		display: inline-block;
	}
}

input[type="email"] {
	@include column(9);
	&:focus {
		outline: 0;
		box-shadow: inset 0 0 0 2px $primary;
		padding-left: 1%;
		@include break($b) {
			padding-left: 4%;
		}
	}
	@include break($b) {

	}
}

$form-pad: 10px;

input, button {
	padding: $form-pad;
	@include break($b) {
		float: none !important;
		display: inline-block;
	}	
}

button[type="submit"] {

	background-color: $secondary;
	color: $light;
	text-align: center;
	&:hover {
		border: 1px solid #fff;
		background-color: lighten($secondary, 10%);
	}
}

.cert {
	margin: 20px auto 0;
	width: 95%;
	@include break($b) {
		width: 50%;
	}
	img {
		width: 100%;
	}
}


// END HOMEPAGE SPECIFIC STYLES

.pageimg, .swipe {
	width: 100%;
}

.pageimg {
	@extend .swipe;
	visibility: visible;
	max-height: 200px;
	img {
		margin-top: -25%;
	}
}

.content {
	@include clearfix;
	margin-bottom: 25px;

	h1, h2, h3 {
		color: $secondary;
		font-weight: bold;
		letter-spacing: 1px;
		margin-bottom: 10px;
	}

	h1 {
		font-size: em-font(25px);
	}
	h2 {
		font-size: em-font(20px);
	}
	h3 {
		font-size: em-font(15px);
		letter-spacing: 0;
	}
	p {
		margin-bottom: 10px;
	}
	article {
		margin-bottom: 25px;
		clear: both;
		width: 100%;
	}
	img {
		margin-bottom: 20px;
	}
	@include break($a) {
		img {
			max-width: 40%;
			margin-left: 2%;
			float: right;
		}
	}
	@include break($b) {
		@include column(9);
		float: right;
		img {
			max-width: 25%;
			margin-left: 5%;
		}
	}
}

aside {
	h2 {
		@extend h1;
		font-size: em-font(18px);
		font-weight: normal;
		text-transform: uppercase;
	}
	@include clearfix;
	clear: both;
	margin-bottom: 30px;
	background-color: $secondary;
	@extend .font-sans;
	@include break($b) {
		@include column(3);
		margin-bottom: 30px;
		clear: none;
		height: 100%;
	}
	h2 {
		font-size: em-font(15px);
		background-color: $primary;
		color: $dark;
		width: 100%;
		padding: 10px 26px;
		@include break($b) {
			padding-left: 20px;
		}
	}
	ul {
		padding-top: 10px;
		padding-bottom: 10px;
		li {
			width: 100%;
			a {
				display: inline-block;
				width: 100%;
				color: white;
				border-left: transparent 5px solid;
				border-right: transparent 5px solid;
				
				padding: 10px 20px;
				@include break($b) {
					padding: 5px 15px;
				}
				&:hover, &:active {
					background-color: lighten($secondary, 10%);
					border-left-color: $primary;
					color: $light;
				}
			}
		}
	}
}

#the-form, #contact-info {
	@include break($b) {
		@include column(6);
		clear: none;
	}
}

button[type="submit"]:active {
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
button[type="submit"]:active, button[type="submit"]:focus {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
	outline: 0;
}
input:focus,
textarea:focus {
  outline:0;
  border: 1px solid #fff;
}

::-webkit-input-placeholder {
    color: $dark;
}
:-moz-placeholder {
    color: $dark;
}
::-moz-placeholder {
    color: $dark;
}
:-ms-input-placeholder {
    color: $dark;
}

#contact-us {
	margin-top: -8px;
	label {display:none;}
	input, textarea {
		width: 100%;
		margin: 5px 0;
		padding: 10px;
		background-color: #ddd;
		border: none;
		border: 1px transparent solid;
		&:focus {
			border: 1px $secondary solid;
		}
	}
	input {padding-top: 13px;}
	button {
		margin-left: 0;
		margin-top: 7px;
		text-transform: uppercase;
		padding: 10px 7px 6px;
		outline: 0;
		letter-spacing: 1px;
		background-color: $secondary;
		border: 1px transparent solid;
		&:hover {
			border: 1px solid #fff;
			background-color: lighten($secondary, 10%);
		}
	}
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.panel-title a {
	background-color: $primary;
	display: block;
	width: 100%;
	font-weight: bold;
	@include break($b) {
		font-weight: normal;
	}
}

.panel-body {
	margin-bottom: 10px;
	padding: 2%;
}

.panel-title a {
	margin-bottom: 10px;
	padding:  15px;
}


/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
