// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*"; 


/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include break-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
	&:not(>img) {
		@include force-wrap;
	}
}

.btn {
	background-color: $primary;
	color: $dark;
	display: block;
	padding: 10px 15px;
	margin: 15px 0;
	border-left: $secondary 5px solid;
	border-right: transparent 5px solid;
	clear: both;
}

img {
	width: 100%;
}

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;


////////////
// LAYOUT //
////////////

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

header {
	background-color: $primary;
	border-bottom: solid 5px $secondary;
	@include clearfix;
	//box-shadow: -25rem 0 0 $primary, 25rem 0 0 $primary; 
	@include break($d) {
		box-shadow: 0 5px 0 $secondary;
		border-bottom: solid 10px $light;
		height: 200px;
	}
}

.logo {
	float: left;
	width: 60%;
	padding-left: 10px;
	margin-bottom: -9%;
	position: relative;
	z-index: 5;
	@include break($d) {
		max-width: 35%;
	}
	@include break($e) {
		max-width: 30%;
	}
}

#nav-toggle {
	float: right;
	display: block;
	text-align: right;
	margin-top: -5px;
}

nav.nav-collapse {
	@include clearfix;
	background-color: $secondary;
	clear: both;
	text-align: center;
	font-size: em-font(20px);
	ul {
		padding-top: 30px;
		li a {
			display: inline-block;
			width: 100%;
			padding: 10px 5px;
			color: white;
			border-left: transparent 5px solid;
			border-right: transparent 5px solid;
			&:hover, &:active {
				background-color: lighten($secondary, 10%);
				border-left-color: $primary;
			}
		}
	}
}

.swipe {
	@include break($c) {
		max-height: 300px;
	}
	@include break($d) {
		margin-top: -125px;
		border: 10px solid $light;
	}
}

.padded {
	//@include row(12);
	padding: 4%;
	@include break($d) {
		padding: 0;
	}
}

.callnow {
	@include column(12);
	h1, a {
		clear:both;
		text-align: center;
	}
	h1 {
		margin-top: 15px;
		margin-top: 0;
		font-size: em-font(20px);
		text-transform: uppercase;
	}
	@include break($d) {
		display: none;
	}
}

section {
	@include column(12);
	padding: 10px 0 0;
	@include break($d) {
		@include column(6);
	}
}

.cta {
	figure {

		margin-bottom: 10px;
		@include break($d) {
			@include column(6);
			&:first-of-type {
				//margin-left: 0;
			}
		}
		background-color: $secondary;
		h2 {
			font-size: em-font(20px);
			padding: 8px 10px;
			color: $light;
		}
		img {
			border-bottom: solid 5px $primary;
		}
	}
}

.tips {
	@include column(6);
	margin-top: 20px;
	@include break($d) {
		@include column(3);
		margin-top: 20px;
	}
	color: $secondary;
	display: block;
	position: relative;
	object {
		position: relative;
	}
	span {
		font-size: em-font(20px);
		@include break($d) {
		font-size: em-font(15px);			
		}
		position: absolute;
		top: 30%;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
	}
	// background: url(../img/triangle.svg) no-repeat;
	// background-size: 100%;
}

.fb {

}

footer {
	overflow-x: hidden;
	width: 100%;
	padding-bottom: 50px;
}

address {
	color: $secondary;
	padding: 10px 10%;
	span {
		display: block;
	}
}

#newsletter {
	width: 100%;
	@include row(12);

	h2 {
		text-indent:5px;
		margin-bottom: 5px;
	}
}

input {
	box-shadow: 0;
	background-color: #ddd;
	border: 0;
	border-radius: 0;
}

input[type="email"] {
	@include column(9);
	&:focus {
		outline: 0;
		box-shadow: inset 0 0 0 2px $primary;
		padding-left: 1%;
	}
}

$form-pad: 10px;

input, button {
	padding: $form-pad;
}

button[type="submit"] {
	@include column(2);
	background-color: $secondary;
	color: $light;
	text-align: center;
	padding-top: $form-pad + 3px;
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
